.data-lists
  display: flex
  box-sizing: border-box;
  width: 100%

.data-list
  height: calc(100vh - 98px - 16px)
  box-sizing: border-box;
  border: 1px solid #ccc
  padding: 8px
  margin: 8px
  border-radius: 8px
  overflow: hidden
  flex: 1;

.data-list-title
  padding-bottom: 8px

.data-list-body
  overflow: auto
  height: calc(100% - 28px)

.data-list-item
  padding: 8px 0
