.data-tiles
  display: flex
  flex-wrap: wrap
  justify-content: space-between;

.tile
  background: #ccc
  margin: 4px
  min-width: 150px

.tile-name, .tile-avatar, .tile-phone, .tile-group
  text-align: center

.tile-name
  margin: 8px
  font-weight: bold

.tile-avatar
  font-size: 36px

.tile-phone
  margin-top: 8px

.tile-group
  margin-bottom: 8px

.data-tiles-sortings
  margin-top: 8px
