DOCTYPE(html)
html(ng-app='kaspersky-test')
  head(lang='ru')
    meta(charset='UTF-8')
    title Kaspersky Test
    link(rel='stylesheet' href='./main.css')
    script(src="https://use.fontawesome.com/ed38e2a947.js")
    script(type='text/javascript' src='/static/js/bower/angular/angular.min.js')
    script(type='text/javascript' src='/static/js/bower/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript' src='/app.js')

  body
    base(href='/')
    ui-view
    
